{% extends 'base.html' %}
{% block content %}
{{ super() }}
<h2>О ферме</h2>
<p>Молочно-товарная ферма крупного рогатого скота на 200 коров КУСП «Браславский», располагается в селе Мильки Браславкого района Витебской области.
Ферма построена с учётом научно-технического прогресса, износа зданий. Для чего имеется резервный участок на территории фермы.
Здание предназначено для содержания дойных коров, рассчитано на 200 голов. В этом здании животных содержат в зимний период. Внутри здания смонтированы кормушки, индивидуальные поилки, кормовые проезды. Рядом со зданием находится выгульный двор.
Общее санитарно-гигиеническое состояние помещения хорошее. Все параметры микроклимата поддерживаются в норме. Помещение в летний период подвергается сушке, дезинфекции и текущему ремонту.
Поголовье животных находится в здании и делится на четыре производственные группы:</p>
<ul>
    <li>I. 64 коров по 480кг-10л - удой за одни сутки;</li>
    <li>II. 72 коров по 500кг-5л - удой за одни сутки;</li>
    <li>III. 25 коров по 490кг-10л- удой за одни сутки;</li>
    <li>IV. 38 коров по 550кг- сухостойные.</li>
</ul>
{% endblock content %}